@import "variables";

.sidebar {
    padding-top: $top-padding;
    background-color: $lighter-grey;
}

.sidebar-item {
    margin-bottom: 30px;
}

.contact-item {
    margin-bottom: 15px;

    h5 {
        margin-bottom: 0;
    }
}

.skill {
    margin-bottom: 10px;

    .skill-type,
    .skill-balls {
        display: flex;
    }
    .skill-type {
        margin-left: 15px;
        flex-grow: 100;
    }

    .skill-balls {
        margin-right: 15px;
        flex-grow: 1;

        .half {
            margin-right: 4px;
        }
    }

    .half {
        svg {
         color: $light-grey;
        }
    }
    .full {
        svg {
         color: $dark-grey;
        }
    }
}
